<section class="about-us" id="about-us">
    <div class="container">
        <div class="about-us-container">
    <h2 class="about-us-title">About us</h2>
    <h3 class="about-us-subtitle">
        Our craftsmanship: creating unique handmade furniture
    </h3>
    <p class="about-us-text text">
        Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.
    </p>
    
    <ul class="advantages-list">
        <li class="advantages-list-item">
          <p
            class="advantages-subtitle animate-number"
            data-end="5"
            data-symbol="+"
          >
            0+
          </p>
          <p class="advantages-text text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="advantages-list-item">
          <p
            class="advantages-subtitle animate-number"
            data-end="100"
            data-symbol="%"
          >
            40%
          </p>
          <p class="advantages-text text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="advantages-list-item">
          <p
            class="advantages-subtitle animate-number"
            data-end="500"
            data-symbol="+"
          >
            300+
          </p>
          <p class="advantages-text text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
</div>

<div class="container-img">
    <picture>
<source srcset="./img/about-us/img-about-us-desk.jpg 1x,
    ./img/about-us/img-about-us-desk2x.jpg 2x"
    media="(min-width: 1440px)">
    <source srcset="./img/about-us/img-about-us-tab.jpg 1x,
    ./img/about-us/img-about-us-tab2x.jpg 2x"
    media="(min-width: 768px)">
    <source srcset="./img/about-us/img-about-us-mob.jpg 1x,
    ./img/about-us/img-about-us-mob2x.jpg 2x"
    media="(min-width: 375px)">
    <img src="./img/about-us/img-about-us-desk.jpg" 
    alt="white sofa" width="704" class="white-sofa-img">
    </picture>
</div>
    </div>
</section>