<footer class="footer-section">
  <div class="container footer-container">
    <div class="footer-nav-logo">
      <a class="footer-logo" href="./index.html">
        <svg class="footer-logo-icon">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
    </div>

    <div class="footer-info">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about-us">About us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#our-products"
              >Our products</a
            >
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#prices">Prices</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#bestsellers">Bestsellers</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#clients-reviews">Reviews</a>
          </li>
        </ul>
      </nav>

      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a
              class="footer-address-link"
              target="_blank"
              href="https://goo.gl/maps/uPgQuec11mmHkhpD6"
              title="Address"
              >Obolonsky Prospect, 14, Kyiv</a
            >
          </li>
          <li class="footer-address-item">
            <p class="footer-address-text"
            title="Work schedule">Daily 10:00-21:00</p>
          </li>
        </ul>
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a class="footer-address-link" href="tel:+380669384758"
              >+380669384758</a
            >
          </li>
          <li class="footer-address-item">
            <a class="footer-address-link" href="tel:+380679384758"
              >+380679384758</a
            >
          </li>
        </ul>
        <ul class="footer-address-list">
          <li class="footer-address-item footer-address-item-mail">
            <a
              class="footer-address-link"
              href="mailto:minimal.furniture@gmail.com"
              >minimal.furniture@gmail.com</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="footer-social">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <svg class="footer-social-icon">
              <use href="./img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="footer-social-icon">
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.youtube.com/"
            target="_blank"
          >
            <svg class="footer-social-icon">
              <use href="./img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="footer-conditions">
      By using this website, you agree to the
      <a class="footer-conditions-link" href="#">Terms of Service</a> and
      <a class="footer-conditions-link" href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
