<div class="backdrop is-hidden-modal" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="submit" data-modal-close>
      <svg class="modal-close-icon" width="32" height="32">
        <use href="./img/symbol-defs.svg#icon-menu-close"></use>
        <desc>Modal open and close</desc>
      </svg>
    </button>
    <p class="modal-title">Thanks for Subscribing!</p>
    <p class="modal-text">Welcome to the world of unique handmade furniture.</p>
    <picture>
      <source
        srcset="
          ./img/bestsellers-img/accent-chair-pc1x.jpg 1x,
          ./img/bestsellers-img/accent-chair-pc2x.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <source
        srcset="
          ./img/bestsellers-img/accent-chair-tab1x.jpg 1x,
          ./img/bestsellers-img/accent-chair-tab2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/bestsellers-img/accent-chair-mob1x.jpg 1x,
          ./img/bestsellers-img/accent-chair-mob2x.jpg 2x
        "
        media="(min-width:320px)"
      />
      <img
        src="./img/bestsellers-img/accent-chair-pc1x.jpg"
        alt="The industrial accent chair"
        width="343"
      />
    </picture>
  </div>
</div>
