<section class="our-products" id="our-products">
  <div class="container">
    <h2 class="our-products-title">OUR PRODUCTS</h2>
    <ul class="list our-products-list">
      <li class="list our-products-list-item">
        <picture
          ><source
            srcset="./img/our-products/dresser-with-flower-desktop-min.jpg 1x, ./img/our-products/dresser-with-flower-desktop-2x-min.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="./img/our-products/dresser-with-flower-tab-min.jpg 1x, ./img/our-products/dresser-with-flower-tab-2x-min.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./img/our-products/dresser-with-flower-mob-min.jpg 1x, ./img/our-products/dresser-with-flower-mob-2x-min.jpg 2x"
            media="(min-width:320px)"
          />
          <img src="./img/our-products/dresser-with-flower-desktop-min.jpg" alt="dresser-with-flower" width="344" />
        </picture>
        <p class="our-products-text">Minimalist storage solutions</p>
      </li>
      <li class="list our-products-list-item our-products-second-photo">
        <picture
          ><source
            srcset="./img/our-products/sofa-desktop-min.jpg 1x, ./img/our-products/sofa-desktop-2x-min.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="./img/our-products/sofa-tab-min.jpg 1x,./img/our-products/sofa-tab-2x-min.jpg 2x"
            media="(min-width:768px)"
          />
          <img src="./img/our-products/sofa-desktop-min.jpg" alt="sofa" width="344" />
        </picture>
        <p class="our-products-text">Handcrafted minimalist seating</p>
      </li>
      <li class="list our-products-list-item our-products-third-photo">
        <picture
          ><source
            srcset="./img/our-products/table-desktop-min.jpg 1x, ./img/our-products/table-desktop-2x-min.jpg 2x"
            media="(min-width:1440px)"
          />
          <img src="./img/our-products/table-desktop-min.jpg" alt="table" width="344" />
        </picture>
        <p class="our-products-text">Sleek and simple tables</p>
      </li>
      <li class="list our-products-list-item our-products-fourth-photo">
        <picture
          ><source
            srcset="./img/our-products/chair-desktop-min.jpg 1x, ./img/our-products/chair-desktop-2x-min.jpg 2x"
            media="(min-width:1440px)"
          />
          <img src="./img/our-products/chair-desktop-min.jpg" alt="dresser-with-flower" width="344" />
        </picture>
        <p class="our-products-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
