<section class="prices">
    <div class="container">
        <h2 class="prices-title visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <ul class="prices-list">
            <li class="prices-item">
                <a class="prices-item-link" href="">
                    <h3 class="prices-item-title">Chairs</h3>
                    <p class="prices-item-text">from 200$</p>
                </a>
            </li>
            <li class="prices-item">
                <a class="prices-item-link" href="">
                    <h3 class="prices-item-title">Tables</h3>
                    <p class="prices-item-text">from 250$</p>
                </a>
            </li>
            <li class="prices-item">
                <a class="prices-item-link" href="">
                    <h3 class="prices-item-title">Dressers</h3>
                    <p class="prices-item-text">from 300$</p>
                </a>
            </li>
            <li class="prices-item">
                <a class="prices-item-link" href="">
                    <h3 class="prices-item-title">Sofas</h3>
                    <p class="prices-item-text">from 500$</p>
                </a>
            </li>
        </ul>
    </div>
</section>