.sellers-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
}

.sellers-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 14px 0 10px;
}

.sellers-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.sellers-main-card {
  margin-bottom: 30px;
}

.sellers-item {
  margin-bottom: 30px;
}

.sellers-item:nth-child(2) {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.sellers {
  padding-bottom: 64px;
  scroll-margin-top: 88px;
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 768px) {
  .sellers-title {
    font-size: 32px;
    line-height: 1.41;
    margin-bottom: 30px;
  }

  .sellers-subtitle {
    margin-top: 15px;
  }

  .sellers-subtitle,
  .sellers-price {
    font-size: 18px;
    line-height: 1.34;
  }

  .sellers-main-img {
    display: flex;
    justify-content: center;
  }

  .sellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .sellers-item {
    width: 336px;
    margin-bottom: 0;
  }

  .hidden {
    display: block;
  }


  .sellers {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .sellers .container {
    width: 1126px;
  }

  .sellers {
    scroll-margin-top: 95px
  }

  .sellers-main-card,
  .sellers-item {
    margin-bottom: 0;
  }

  .sellers-wrap {
    display: flex;

  }

  .sellers-main-img {
    width: 536px;
  }

  .sellers-card-wrap {
    margin-left: 24px;
  }

  .sellers-list {
    gap: 30px 20px;

  }

  .sellers-item {
    width: 258px;
  }
}