.clients-reviews {
  padding: 36px 0;
  background: var(--light-blue, #f7faff);
}
.clients-reviews-heading {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.review {
  border-radius: 8px;
  background: var(--white, #fff);
  width: 100%;
  max-width: 343px;
  display: block;
  margin: 0 auto;
}
.client-name {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.78; /* 177.778% */
  text-transform: uppercase;
  margin-bottom: 2px;
}
.review-date {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
}
.review-text {
  width: 100%;
  max-width: 296px;
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43; /* 142.857% */
  margin: 0;
}
.clients-info {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
  align-items: center;
}
.clients-review-2,
.clients-review-3 {
  display: none;
}
.prev,
.next {
  background: var(--light-blue, #f7faff);
  border: none;
  padding: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slider-nav {
  display: flex;
  margin-top: 8px;
}
.review-icon {
  fill: var(--blue-font, #0a224a);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.review-btn:hover .review-icon,
.review-btn:focus .review-icon {
  fill: #061835;
}
.review-card {
  padding: 24px;
}
@media (max-width: 767px) {
  .reviews-list {
    display: flex;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%; /* Вигляд тільки поточного відгуку */
    transition: transform 0.3s ease-in-out;
  }
  .review {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none; /* Початково всі відгуки приховані */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .review.active {
    display: block; /* Відображаємо поточний відгук */
    opacity: 1;
  }
  .review-text {
    height: 121px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .reviews-list {
    display: flex;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%; /* Збільшуємо ширину для двох карток */
    transition: transform 0.3s ease-in-out;
  }
  .review {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    flex: 0 0 50%; /* Половина ширини для двох відгуків */
  }
  .review.active {
    opacity: 1;
  }

  /* Показуємо тільки активні відгуки */
  .review:not(.active) {
    display: none;
  }
  .review-text {
    height: 216px;
  }
}
@media screen and (min-width: 768px) {
  .clients-review-2 {
    display: block;
  }
  .reviews-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
  .review {
    max-width: 344px;
    margin: 0;
  }
  .client-name {
    font-size: 20px;
    line-height: 2.25; /* 225% */
    margin-bottom: 4px;
  }
  .review-date {
    font-size: 16px;
    line-height: 1.5; /* 150% */
  }
  .review-text {
    width: 296px;
    font-size: 18px;
    line-height: 1.5; /* 150% */
  }
  .clients-info {
    margin-bottom: 14px;
  }
  .clients-img-png {
    width: 56px;
    height: 56px;
  }
  .client-name {
    width: 189px;
    height: 37px;
  }
  .slider-nav {
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .slider-nav {
    display: none;
  }
  .clients-review-3 {
    display: block;
  }
  .clients-reviews {
    padding: 60px 0;
  }
  .reviews-list {
    gap: 24px;
  }
  .review {
    width: 100%;
    max-width: 424px;
    margin: 0;
  }
  .review-text {
    width: 100%;
    max-width: 360px;
  }
  .clients-info {
    margin-bottom: 16px;
  }
  .review-card {
    padding: 32px;
  }
}
