.clients-reviews {
  padding: 36px 0;
  background: var(--light-blue, #f7faff);
}
.clients-reviews-heading {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.clients-reviews-item {
  padding: 24px;
  border-radius: 8px;
  background: var(--white, #fff);
  width: 100%;
  max-width: 343px;
  display: block;
  margin: 0 auto;
}
.client-name {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.78; /* 177.778% */
  text-transform: uppercase;
  margin-bottom: 2px;
}
.review-date {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
}
.review-text {
  width: 100%;
  max-width: 296px;
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43; /* 142.857% */
  margin: 0;
}
.clients-info {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
  align-items: center;
}
.clients-review-2,
.clients-review-3 {
  display: none;
}
@media screen and (min-width: 768px) {
  .clients-review-2 {
    display: block;
  }
  .clients-reviews-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
  .clients-reviews-item {
    width: 344px;
    margin: 0;
  }
  .client-name {
    font-size: 20px;
    line-height: 2.25; /* 225% */
    margin-bottom: 4px;
  }
  .review-date {
    font-size: 16px;
    line-height: 1.5; /* 150% */
  }
  .review-text {
    width: 296px;
    font-size: 18px;
    line-height: 1.5; /* 150% */
  }
  .clients-info {
    margin-bottom: 14px;
  }
  .clients-img {
  }
  .clients-img-png {
    width: 56px;
    height: 56px;
  }
  .client-name {
    width: 189px;
    height: 37px;
  }
}
@media screen and (min-width: 1158px) {
  .clients-review-3 {
    display: block;
  }
  .clients-reviews {
    padding: 60px 0;
  }
  .clients-reviews-list {
    gap: 24px;
  }
  .clients-reviews-item {
    width: 100%;
    max-width: 424px;
    margin: 0;
  }
  .review-text {
    width: 100%;
    max-width: 360px;
  }
  .clients-info {
    margin-bottom: 16px;
  }
  .clients-reviews-item {
    padding: 32px;
  }
}
