.footer-section {
  width: 100%;
  background-color: var(--blue-font, #0a224a);
}
.footer-container {
  position: relative;
  max-width: 375px;
  padding: 36px 16px 16px;
}
.footer-nav-logo {
  display: inline-flex;
  margin-top: 6px;
  margin-bottom: 42px;
}
.footer-logo-icon {
  width: 100px;
  height: 16px;
  fill: var(--light-font, #fff);
}
.footer-nav {
  margin-bottom: 36px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-nav-link {
  color: var(--light-font, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.footer-address {
  margin-bottom: 64px;
}
.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-address-list:first-child {
    margin-bottom: 35px;
  }
.footer-address-item-mail {
  display: none;
}
.footer-address-link {
  color: var(--light-font, #fff);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
}
.footer-social {
  position: absolute;
  right: 16px;
  top: 36px;
}
.footer-social-list {
  display: inline-flex;
  gap: 16px;
}
.footer-social-icon {
  width: 28px;
  height: 28px;
  fill: var(--light-font, #fff);
}
.footer-conditions {
  opacity: 0.6;
  color: var(--light-font, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 1.188px;
  text-align: center;
}
.footer-conditions-link {
  color: var(--light-font, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16em;
  letter-spacing: 1.188px;
  text-decoration-line: underline;
}

/* --------------------- */
/* ---- T A B L E T ---- */
/* --------------------- */

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 36px 32px;
    max-width: 768px;
  }
  .footer-logo-icon {
    width: 127px;
  }
  .footer-nav-logo {
    margin-top: 12px;
    margin-bottom: 36px;
  }
  .footer-nav {
    padding: 8px;
    position: absolute;
    top: 36px;
    left: 400px;
  }
  .footer-nav-list {
    gap: 16px;
  }
  .footer-nav-link {
    font-size: 18px;
  }
  .footer-address {
    display: inline-flex;
    flex-direction: column;
  }
  .footer-address-list {
    gap: 24px;
  }
  .footer-address-list:first-child {
    margin-bottom: 64px;
  }
  .footer-address-list:last-child {
    margin-bottom: 0;
  margin-top: 24px;
}
  .footer-address-item-mail {
    display: list-item;
  }
  .footer-address-link {
    font-size: 19px;
  }
  .footer-social {
    right: 36px;
    top: 32px;
  }
  .footer-social-icon {
    width: 40px;
    height: 40px;
  }
  .footer-conditions,
  .footer-conditions-link {
    font-size: 16px;
  }
}

/* --------------------- */
/* --- D E S K T O P --- */
/* --------------------- */

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 36px 60px;
    max-width: 1440px;
  }
  .footer-nav-logo {
    margin-bottom: 39px;
  }
  .footer-nav {
    left: 396px;
    margin-bottom: 0;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .footer-address {
    display: inline-flex;
    flex-direction: row;
    gap: 87px;
    margin-bottom: 35px;
  }
  .footer-address-list:not(:last-child) {
    margin-bottom: 0;
  }
  .footer-address-list:last-child {
  margin-top: 0px;
}
  .footer-social {
    right: 60px;
    top: 36px;
  }
  .footer-conditions,
  .footer-conditions-link {
    line-height: 1.25em;
  }
}
