.prices {
    padding: 64px 0;
    scroll-margin-top: 88px;
}

.prices-item-title {
    color: var(--blue-font, #0A224A);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    text-transform: uppercase;
    position: relative;
    transition: margin-left 250ms linear;
}

.prices-item-text {
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; /* 150% */
}

.prices-item {
    height: calc((100% - 3 * 60px) / 4);
    position: relative;
}

.prices-item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prices-item-description {
    border-bottom: 1px solid #0A224A;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.prices-item:first-child .prices-item-description {
    border-top: 1px solid #0A224A;
}

.prices-list {
    display: flex;
    flex-direction: column;
}


.prices-item-link:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #0A224A;
    opacity: 0;
    transition: opacity 250ms linear;
}

.prices-item-link:hover::before ,
.prices-item-link:focus::before{
    opacity: 1;
}

.prices-item-title:hover,
.prices-item-link:focus .prices-item-title {
    margin-left: 50px;
}


@media screen and (min-width: 375px) {

}

@media screen and (min-width: 768px) {
    .prices {
        scroll-margin-top: 88px;
        padding: 100px 0;
    }

    .prices-item-title {
        font-size: 32px;
        line-height: 1.4; 
    }

    .prices-item-text {
        color: var(--blue-font, #0A224A);
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {

    .prices {
        scroll-margin-top: 95px;
    }

    .prices .container {
        max-width: 1096px;
    }
}