.sub-section {
  padding: 64px 0;
  scroll-margin-top: 88px;
}

.sub-text-content {
  margin-bottom: 30px;
}

.sub-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.sub-label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.sub-input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid var(--gray-medium);
  outline: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--blue-font);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-light);
}

.sub-input:hover,
.sub-input:focus {
  border-color: var(--blue-font);
}

.name-error-icon,
.email-error-icon {
  fill: var(--mistake-color);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.name-error:invalid,
.email-error:invalid {
  color: var(--mistake-color);
  border-color: var(--mistake-color);
}

.sub-field-agreement {
  margin-bottom: 32px;
}

.sub-check-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #535050;
}

.sub-check-decor {
  width: 25px;
  height: 25px;
  border: 1px solid var(--gray-medium);
  margin-right: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  stroke: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-check:checked + .sub-check-text .sub-check-decor {
  background-color: var(--blue-font);
  border: none;
  fill: transparent;
  stroke: var(--light-font);
}

.sub-check:focus + .sub-check-text .sub-check-decor {
  border-color: var(--blue-font);
}

.sub-btn {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 224px;
  height: 50px;
  border: none;
  padding: 0 65px;
  color: var(--light-font);
  background-color: var(--blue-font);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:hover,
.sub-btn:focus {
  background-color: var(--hover-color);
}

/* ========================= MOBILE ===================== */

@media screen and (min-width: 375px) {
  .sub-check-decor {
    margin-right: 8px;
  }
}

/* ========================== TABLET ====================== */

@media screen and (min-width: 768px) {
  .sub-section {
    padding: 100px 0;
    scroll-margin-top: 88px;
  }

  .sub-text-content {
    margin-bottom: 64px;
  }

  .sub-title {
    font-size: 32px;
    line-height: 1.41;
    text-align: start;
    margin-bottom: 30px;
  }

  .sub-text {
    display: block;
    width: 536px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .sub-label {
    display: inline-block;
  }

  .sub-input {
    width: 536px;
  }

  .sub-input::placeholder {
    font-size: 18px;
  }

  .sub-field-agreement {
    margin-bottom: 30px;
  }

  .sub-btn {
    font-size: 18px;
    line-height: 1.33;
  }
}

/* ===================== DESCTOP ========================== */

@media screen and (min-width: 1440px) {
  .sub-section {
    padding-bottom: 86px;
    scroll-margin-top: 95px;
  }

  .sub-section .container {
    max-width: 1126px;
    display: flex;
    column-gap: 100px;
  }

  .sub-text-content {
    margin: 0;
    position: relative;
  }

  .sub-title {
    margin-bottom: 31px;
  }

  .sub-text {
    margin-bottom: 21px;
  }

  .sub-label {
    display: block;
    margin-bottom: 21px;
  }

  .sub-input {
    height: 52px;
  }

  .sub-field-agreement {
    margin-bottom: 31px;
  }

  .sub-btn {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
